.container-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dad8d8;
    padding: 0 12px;
    
}

.login{
    background-color: #fff;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 9px;
}

.login-area{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-area img{
    width: 15%;
    height: 104px;
    padding: 10px;
    object-fit: contain;
}

form{
    margin-top: 1.5rem;
    width: 85%;
    display: flex;
    flex-direction: column;

    h1{
        text-align: center;
        margin: 1rem;
        color: #2A245D;
    }
}

.login input {
    margin-bottom: 1rem;
    height: 35px;
    border: none; /* Remove todas as bordas */
    border-bottom: 2px solid #2A245D; /* Apenas linha inferior */
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
    outline: none; /* Remove o contorno azul ao clicar */
}


form button{
    height: 35px;
    border: 0;
    border-radius: 4px;
    color: #fff;
    background-color: #2A245D;
}

form button {
    height: 35px;
    border: 0;
    border-radius: 4px;
    background-color: #2A245D;
    position: relative;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0px 4px 0px #2A245D; 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

form button:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 6px 0px #2A245D; 
}

.login a {
    margin: 1.5rem 0;
    color: #2A245D;
    cursor: pointer;
}